<div style="flex: 1;">

    <h2 style="flex: 1; display: flex; "> Liste des semaines</h2>

    <ul style="flex: 1;">
        <li *ngFor="let s of semaines" style="flex: 1; ">
            <div style="flex: 1; flex-direction:row; display:flex">
                <p style="flex: 9; flex-direction:row">{{ s.title }}</p>
                <button routerLink="/semaine-edit/{{s.id}}" style="flex: 1;  display:flex; align-items: center;
                justify-content: center;">Edit</button>
            </div>
        </li>
    </ul>

    <div style="flex: 1; ">
        <button (click)='add()' style='flex:1;align-items: center; justify-content: center;'>Add a new week</button>
    </div>

</div>